# Dependencies
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.*
!.env.example

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Build folders
build/
dist/

# Coverage
coverage/

# Temporary files
.tmp/
.cache/

# Firebase
.firebase/
firebase-debug.log
.firebaserc

# Render / deployment
.render/

# Misc
*.local